@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&family=Teko&display=swap');

* {
	margin: 0;
	padding: 0;
/*	font-family: 'Montserrat', sans-serif;*/
/*	font-family: 'Roboto Mono', monospace;*/
/*	font-family: 'Roboto Slab', serif;*/
  font-family: 'Poppins', sans-serif;
  color: black;
  box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	scroll-padding-top: 8rem;
}

body {
	background-color: #fdfdfd;
	color: #2e2e2e;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	color: black;
	align-items: center;
	background-color: black;
}

h1 {
/*	text-transform: uppercase;*/
	margin-right: auto;
/*	filter: drop-shadow(5px 5px 10px #000);*/
  font-size: 50px;
}

#logo {
	margin-right: auto;
	height: 75px;
	width: 75px;
}

.nav-container {
	top: 0;
	position: fixed;
	width: 100%;
	padding: 0% 10%;
	z-index: 100;
}

.navbar {
	display: flex;
}

.navbar li{
	list-style-type: none;
	display: inline-block;
}

.navbar-links {
	display: flex;
	gap: 20px;
}

.navbar-links li a {
	text-decoration: none;
	color: #e8e8e8;
	transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
	color: white;
}

li a {
	text-align: center;
}

.navbar button {
	border: none;
	background-color: black;
}

.navbar button a {
	background-color: gray;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	padding: 15%;
}

#nav-desktop {
	gap: 20px;
}

#hamburger-open {
	align-items: center;
}

#hamburger-close {
	align-items: center;
}

.hamburger-svg {
  margin: 0 auto;
  display: block;
}

.hamburger-dimensions {
	height: 2rem;
}

.hamburger {
	gap: 5px;
}

.stripe {
	height: 3px;
	width: 25px;
	background-color: white;
	border-radius: 5px;
}

/*#stripe-1 {
	transform: rotate(45deg);
}

#stripe-3 {
	transform: rotate(-45deg);
}*/

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.hidden {
	display: none;
}

ul li {
	list-style-type: none;
}

.container {
	width: 100%;
	margin-bottom: -100vh;
}

.intro-container {
	align-items: center;
	height: 76.5vh;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: translateY(-70vh);
	position: absolute;
}

.intro-canvas {
	left: 0;
	margin-top: 8vh;
	width: 100%;
	height: 92vh;
	margin-bottom: 0;
}

.not-canvas {
	padding-top: 8vh;
	margin-bottom: 0px;
	width: 100%;
}

.intro {
	font-size: 1.2em;
  text-justify: inter-word;
  text-align: center;
}

.intro a {
	text-decoration: none;
	color: #d1808c;
}

.intro-bio {
	margin-top: 15vh;
	margin-right: auto;
	margin-left: auto;
	animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.intro-bio h1 {
	text-align: center;
}

.button-to {
	background: rgb(233,233,233);
	background: -moz-linear-gradient(0deg, rgba(233,233,233,1) 0%, rgba(242,242,242,0.8911939775910365) 100%);
	background: -webkit-linear-gradient(0deg, rgba(233,233,233,1) 0%, rgba(242,242,242,0.8911939775910365) 100%);
	background: linear-gradient(0deg, rgba(233,233,233,1) 0%, rgba(242,242,242,0.8911939775910365) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9e9e9",endColorstr="#f2f2f2",GradientType=1);
	border-radius: 15px;
	padding: 1.5vh;
	transform: translateY(-20vh);
	font-weight: bold;
	text-align: center;
	animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-decoration: none;
}

.button-to-skills {
	background: rgb(60,90,208);
	border-radius: 15px;
	padding: 1.5vh;
	transform: translateY(-20vh);
	font-weight: bold;
	text-align: center;
	animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-decoration: none;
  color: white;
}

.cursor {
	display: inline-block;
	width: 3px;
	background-color: white;
	animation: blink 1s infinite;
}

.cursor.typing {
	background-color: #ccc;
	animation: none;
}

@keyframes blink{
	0% {background-color: #ccc;}
	45% {background-color: #ccc;}
	50% {background-color: transparent;}
	95% {background-color: transparent;}
	100% {background-color: #ccc;}
}

.mouse {
	position: fixed;
	height: 40px;
	width: 40px;
	border-style: solid;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	margin-left: -20%;
	margin-top: -20%;
}

/*.card {
	height:120px;
  width:80px;
  background:blue;
  border:1px solid black;
  border-radius:5px;
  position:relative;
  top:30px;
  transition: transform .2s;
}*/

.project-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
}

@media only screen and (min-width: 500px){
	.project-container {
		gap: 0px;
	}
}

.slider {
	display: flex;
	width: 100%;
  transform: translateX(-100%);
}

.slider-item {
	max-width: 33.333333%;
	flex: 0 0 33.333333%;
}

.slider-item img {
	max-width: 100%;
	transition: transform 200ms ease-in-out;
}

.slider-item img:hover{
	transform: scale(1.3);
}

.slider-buttons {
	justify-content: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
} 

.slider-button {
	font-size: 5rem;
	margin: 0 2rem;
}

.project-buttons {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

@media only screen and (min-width: 500px){
	.project-buttons {
		padding: 1rem;
	}
}

.project-expl {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	flex-basis: 33.33333333%;
	justify-content: center;
	justify-items: center;
	align-content: center;
	margin: auto;
	padding: 1%;
	gap: 8px;
}

@media only screen and (min-width: 501px){
	.project-expl{
		flex-basis: 50%;
	}
}

@media only screen and (min-width: 1462px){
	.project-expl{
		flex-basis: 33.33333333%;
	}
}

@media only screen and (min-width: 501px){
	.project-expl{
		gap: 5px;
	}
}

@media only screen and (max-width: 500px){
	.project-expl{
		flex-basis: 100%;
	}
}

.project-expl .project-desktop-img {
	display: none;
}

.project-expl .project-mobile-img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 501px){
	.project-expl .project-mobile-img {
		display: none;
	}

	.project-expl .project-desktop-img {
		display: block;
	  margin-left: auto;
	  margin-right: auto;
	  height: 19vh;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.project-expl a {
 text-decoration: none;
}

.project-expl a h4 {
	font-size: 1.5rem;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.tech-used {
	color: #474747;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.project-expl section {
/*  grid-column: span 5 / span 5;*/
}

@media only screen and (min-width: 549px) {
	.project-expl a h4 {
		font-size: 2rem;
	}
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

.core-skills {
	min-height: 95vh;
	background-color: red;
	padding: 0 10%;
}

.skills-container {
	margin-top: 2%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
}

@media only screen and (min-width: 500px){
	.skills-container {
		gap: 0px;
	}
}

.projects {
	padding: 0 10%;
	background: rgb(231,231,231);
	background: -moz-linear-gradient(0deg, rgba(231,231,231,1) 9%, rgba(242,242,242,0) 100%);
	background: -webkit-linear-gradient(0deg, rgba(231,231,231,1) 9%, rgba(242,242,242,0) 100%);
	background: linear-gradient(0deg, rgba(231,231,231,1) 9%, rgba(242,242,242,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7e7e7",endColorstr="#f2f2f2",GradientType=1);
	min-height: 95vh;
}

.projects h2, .projects h3 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.contact {
	padding: 0 10%;
	height: 100vh;
	background-color: green;
}

@media only screen and (max-width: 500px) {
	.nav-container {
		padding: 0% 10%;
	}
}

@media only screen and (max-width: 549px) {
	h1 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}

	.intro-bio {
		margin-left: auto;
	}

	.intro-bio h1 {
		text-align: center;
	}

	.intro {
		text-align: center;
	}
}

@keyframes fadeIn{
	0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.read-more {
	border: solid;
	background-color: #0a54cc;
	border-color: #0a54cc;
	border-width: 1px;
	padding: 0.5rem;
	border-radius: 0.75rem;
	color: white;
	font-size: small;
}

.live-site {
	border: solid;
	border-color: gray;
	border-radius: 0.75rem;
	border-width: 1px;
	padding: 0.5rem;
	font-size: small;
}

@media only screen and (min-width: 500px){
	.read-more {
		font-size: medium;
	}

	.live-site {
		font-size: medium;
	}
}